BreakBeforeBraces: Linux
IndentWidth: 4
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
NamespaceIndentation: All
ColumnLimit: 130
AllowShortLambdasOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true
